{% extends "assignment2_app/base.html" %}





<html>      
{% block page_title %}
About Us
{% endblock %}

{% block page_heading %}
<h1><str>Group 24</str></h1>
{% endblock %}



{% block main_body %}

{% load static %}



  {% for member in list %}

  
    <p>
      <table border="2" width="100%">
        <col style="width:20">
        <col style="width: 79%">

 
  
        <tbody>
          <tr>
            <td rowspan = "5"><img src= "{{ member.image }}"  alt = "image here"  width="300" 
              height="300"  /></td>
          </tr>
          <tr>
            <td><str>Role</str></td>
            <td>{{ member.role }}</td>
          </tr>
          <tr>
            <td><str>Name</str></td>
            <td>{{ member.name }}</td>
          </tr>
          <tr>
            <td><str>Student ID</str></td>
            <td>{{ member.student_id }}</td>
          </tr>
          <tr>
            <td><str>Course</str></td>
            <td>{{ member.course }}</td>
          </tr>
        </tbody>
      </table>
    </p>
  {% endfor %}
{% endblock %}

</html>