.supervisor_name{

  color:rgb(54, 103, 136);
  margin-top: -20px;
  font-size: 15px;
}


div {
      margin-right: 40px;
      padding:1px;
    }

.desc {
      width:30%;
      margin-top:10px;
      font-size: 17px;
    }


.footer{
  margin-top:40px;
  border-top: 1px solid gray;
}

.page_headings {

text-align: center;

}

.home {

font-size: 20px;


}





