<!-- Step 3 -->
<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Thesis Form</title>
  </head>
  <body>
    <form action="/add/thesis/request/" method="post" novalidate>
      {% csrf_token %}
      <table>
        {{ thesisForm.as_table }}
      </table>
      <input type="text" placeholder="Message" name="Message" id="Message"/>
      <input type="submit" value="Add Thesis" name = "apply">
    </form>

  <a href="{% url 'page2' %}">Go Back</a> <!-- added return to homepage functionality - VG -->

  </body>
</html>
