<!DOCTYPE html>
<html lang = "es">
<meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Thesis Application 
      </title>
</head>
<body>

{% if thesis %} 

<h2 style="color: darkblue; font-size: 20;">THESIS: {{ thesis.title }}</h2> 

<form action="notice/" method = "POST" novildate>
    {% csrf_token %}
   <h1> THESIS ID: {{thesis.tid}} </h1>
    <table>
        {{ application_form.as_table }}
    </table>
    <input type="submit" value ="Apply">
</form>


{% endif %}


</body>
</html>