{% extends "assignment2_app/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
{% block page_heading %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<h1 class="page_headings"><str>Profile</str></h1>
{% endblock %}
{% block main_body %}
<div class="container">
    <nav>
        <a href="{% url 'notification' user.id %}"><button>Notification</button></a>
        <a href="{% url 'change_password' %}"><button>Change Password</button></a> 
    </nav>
    <h2>User Profile</h2>
    <p>Email: {{ user.email }}</p>
</div>
{% endblock %}
</html>