
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
        <h1>Notification Board</h1>
        <form method="post" class="message-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Notification</button>
        </form>
        <ul class="messages">
            {% for notification in notifications %}
                <li>{{ notification.content }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
  </html>

