<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <h1>Login Here</h1>

</head>

<body>
    

<form method ="post" autocomplete="off">{%csrf_token%}  {{loginform.as_p}}




    <input type="email" name= "email" required autofocus/>

    
    <input type="password" name="password" required>





    <input type="submit" value="Login"/>




</form>

<a href="{% url 'homepage' %}">Return to Homepage</a> <!-- added return to homepage functionality - VG -->

</body>
</html>

