{% extends "assignment2_app/base.html" %}

{% block page_heading %}
{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/styles.css' %}">
<h1 class = "page_headings"><str>Available Theses</str></h1>
{% endblock %}

{% block main_body %}
<a href="add/thesis/"><button>Add Thesis</button></a>
{% for thesis in theses %}
  <h2><a href="page3/{{ thesis.tid }} ">{{ thesis.title }}</a></h2>
  <div class= "supervisor_name"> Supervisor: {{ thesis.supName }} </div>
  <div class= "desc"> {{ thesis.desc }} </div>
{% endfor %}
{% endblock %}